* {
    margin: 0;
    padding: 0;

}

.paragraphs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
}

.paragraphs__item {
    display: flex;
    justify-content: space-between;
}