* {
    margin: 0;
    padding: 0;

}

.paragraphs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    padding: 5px;
    background-color: gray;
    border: 1px solid black;
}

.paragraphs__item {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tasks__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    gap: 20px;
}

.tasks__item {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid black;
}

.columns {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 50px;
}